{%- liquid
  assign sid = section.id
  assign se_stts = section.settings -%}

<div class="nt_se_{{sid}} {{se_stts.layout}}">
     <div class="row nt_slider js_carousel prev_next_{{se_stts.btn_color}} btn_owl_{{se_stts.btn_owl}} dot_owl_{{se_stts.dot_owl}} dot_color_{{se_stts.dot_color}} btn_vi_{{se_stts.btn_vi}}" data-flickity='{"imagesLoaded": false, "adaptiveHeight": true, "contain": true, "groupCells": "100%", "dragThreshold" : 5, "cellAlign": "left","wrapAround": {{se_stts.loop}},"prevNextButtons": {{se_stts.button}},"percentPosition": true,"pageDots": {{se_stts.dot}}, "autoPlay" : {% if se_stts.autoplay %}{{ se_stts.au_time | times: 1000 }}{% else %}false{% endif %}, "pauseAutoPlayOnHover" : {{se_stts.au_hover}}, "rightToLeft": {{settings.use_rtl}} }'>
         {%- if section.blocks.size > 0 -%}
             {%- for block in section.blocks %}{% assign bk_stts = block.settings -%}
                  {%- if bk_stts.quote == blank %}{% continue %}{% endif -%}
                  <div id="nt_{{block.id}}" class="col-12 tc" {{ block.shopify_attributes }}>
                      <div class="content_quote fw_sett">{{ bk_stts.quote }}</div>
                      {%- if bk_stts.title != blank -%}
                       <div class="content_bottom">
                         <p class="mg__0"><span class="fw_sett">{{bk_stts.title}}</span>{% if bk_stts.position != blank %} / {{bk_stts.position}}{% endif %}</p>
                       </div>
                       {%- endif -%}
                  </div>
             {%- endfor -%}
         {%- endif -%}
     </div>
</div>

{%- render 'section_css' -%}

{%- schema -%}
  {
    "name": "Quotes Slider",
    "class": "quotes_slider type_carousel",
    "settings": [
      {
        "type": "header",
        "content": "== Slider Settings"
      },
      {
        "type": "select",
        "id": "effect",
        "label": "Effect Slider",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Fade"
          },
          {
            "value": "0",
            "label": "Slide"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "Use Loop?",
        "info": "At the end of cells, wrap-around to the other end for infinite scrolling.",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Use Autoplay?",
        "info": "Automatically advances to the next cell.",
        "default": false
      },
      {
        "type": "range",
        "id": "au_time",
        "min": 1,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay Speed in second.",
        "unit": "sec",
        "default": 6
      },
      {
        "type": "checkbox",
        "id": "au_hover",
        "label": "Pause Autoplay On Hover?",
        "info": "Auto-playing will pause when the user hovers over the carousel.",
        "default": true
      },
      {
        "type": "header",
        "content": "== Prev Next Button, Page Dot Settings"
      },
      {
        "type": "paragraph",
        "content": "—————————————————"
      },
      {
        "type": "paragraph",
        "content": "Prev Next Button:"
      },
      {
        "type": "checkbox",
        "id": "button",
        "label": "Enable Prev Next Button?",
        "info": "Creates and enables previous & next buttons.",
        "default": false
      },
      {
        "type": "select",
        "id": "btn_vi",
        "label": "Visible:",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Always"
          },
          {
            "value": "2",
            "label": "Only hover"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_owl",
        "label": "Style",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          },
          {
            "value": "3",
            "label": "Style 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_color",
        "label": "Color",
        "default": "0",
        "options": [
          {
            "value": "0",
            "label": "Transparent"
          },
          {
            "value": "1",
            "label": "Gray"
          },
          {
            "value": "2",
            "label": "White"
          },
          {
            "value": "3",
            "label": "Primary"
          }
        ]
      },
      {
        "type": "paragraph",
        "content": "—————————————————"
      },
      {
        "type": "paragraph",
        "content": "Page Dot:"
      },
      {
        "type": "checkbox",
        "id": "dot",
        "label": "Enable Page Dot?",
        "info": "Creates and enables page dots.",
        "default": true
      },
      {
        "type": "select",
        "id": "dot_owl",
        "label": "Style",
        "default": "2",
        "options": [
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          },
          {
            "value": "3",
            "label": "Style 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "dot_color",
        "label": "Color",
        "default": "3",
        "options": [
          {
            "value": "1",
            "label": "Dark"
          },
          {
            "value": "2",
            "label": "Light"
          },
          {
            "value": "3",
            "label": "Primary"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select",
        "id": "layout",
        "options": [
         {
            "value": "container",
            "label": "Container"
         },
         {
            "value": "nt_full",
            "label": "Full Width"
          }
        ],
        "label": "Layout"
      },
      {
        "type": "color",
        "id": "cl_bg",
        "label": "Background color"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "blocks": [
      {
        "type": "1",
        "name": "Slider Items",
        "settings": [
            {
                "type":"textarea",
                "id":"quote",
                "label":"Quote",
                "default":"“Cubilia a nisi blandit sem cras nec<br> temport adipiscing rku ullamcorper ligula.”"
            },
            {
                "type":"text",
                "id":"title",
                "label":"Name",
                "default":"JOHN DOE"
            },
            {
                "type":"text",
                "id":"position",
                "label":"Position",
                "default":"CEO Elessi"
            }
        ]
      }
    ],
    "presets": [
      {
        "name": "9.2 Quotes Slider",
        "category": "V. Text",
        "blocks": [{ "type": "1" },{ "type": "1" }]
      }
    ]
  }
{% endschema %}