{%- liquid
  assign sid = section.id
  assign se_blocks = section.blocks
  assign se_stts = section.settings
  assign layout = se_stts.layout
  assign sid = section.id
  if layout == 'wrap'
   assign html_layout = '<div class="container">__</div>' |split:"__"
  else
   assign html_layout = '__' |split:"__"
  endif
  render 'section_css'
  assign ck_noPr = true -%}

<div class="nt_se_{{sid}} {{layout}}{%- if image != blank %} hide_bgimg_{{se_stts.hide_bgimg}} lazyloadt4s se_t4_bg nt_parallax_{{se_stts.use_pr}}{%- endif -%}"{% if image != blank %} data-bgset="{{ image | img_url: '1x1' }}" data-ratio="{{image.aspect_ratio}}" data-sizes="auto" data-parent-fit="cover"{% endif %}>
   {{-html_layout[0]-}}
   {%- if se_stts.title != blank %}<div class="nasa-title tc"><h3 class="nasa-title-heading section-title">{{se_stts.title}}</h3></div>{% endif -%}
   <div class="row no-gutters fl_center equal_nt nt_slider js_carousel prev_next_{{se_stts.btn_color}} btn_owl_{{se_stts.btn_owl}} dot_owl_{{se_stts.dot_owl}} dot_color_{{se_stts.dot_color}} btn_vi_{{se_stts.btn_vi}}" data-flickity='{ "fade":0,"cellAlign": "center","imagesLoaded": 0,"lazyload": 0,"freeScroll": 0,"groupCells":1,"wrapAround": 1,"autoPlay" : {% if se_stts.autoplay %}{{ se_stts.au_time | times: 1000 }}{% else %}0{% endif %},"pauseAutoPlayOnHover" : {{se_stts.au_hover}}, "rightToLeft": {{settings.use_rtl}}, "prevNextButtons": {{se_stts.button}},"pageDots": {{se_stts.dot}}, "contain" : 0,"adaptiveHeight" : 1,"dragThreshold" : 5,"percentPosition": 1 }'>
        {%- if se_blocks.size > 0 -%}
        {%- for block in se_blocks -%}
         {%- liquid 
           assign bk_stts = block.settings
           assign link = bk_stts.product
           assign product = link.object
           if link.type != "product_link" or link == blank
             continue
           endif
           assign ck_noPr = false
           assign image = bk_stts.image |default:product.images[0] -%}
          <div id="nt_{{block.id}}" class="col-12 col-md-6 prs_slide_item" {{ block.shopify_attributes }}>
              <div class="prs_slide_wrap tc">
                {%- if image != blank %}{% assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <img width="{{image.width}}" height="{{image.height}}" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20{{image.width}}%20{{image.height}}%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="{{ img_url }}" data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" class="w__100_ lazyloadt4s lz_op_ef" alt="{{image.alt | escape }}">
                {%- endif -%}
                <div class="title-wrap tc">
                  <a class="product-title db" href="{{product.url | within: c}}">{{ product.title }}</a>
                  <div class="price">
                    {%- liquid
                    assign variant_unit = product.variants.first
                    assign pid = product.id
                    assign hd_up = 'group-' |append:pid
                    assign nav_up = linklists[hd_up].links | where:'type','product_link'
                    assign nav_up_size = nav_up.size -%}

                    {%- if nav_up_size == 0 and variant_unit.unit_price_measurement -%}
                       {%- if variant_unit.compare_at_price > variant_unit.price -%}<del>{{ variant_unit.compare_at_price  | money }}</del><ins>{{ variant_unit.price | money }}</ins>{%- else -%}{{ variant_unit.price | money }}{%- endif -%}
                       {%- capture unit_price_base_unit -%}
                        <span class="unit_base">
                          {%- if variant_unit.unit_price_measurement -%}
                            {%- if variant_unit.unit_price_measurement.reference_value != 1 -%}
                              {{- variant_unit.unit_price_measurement.reference_value -}}
                            {%- endif -%}
                            {{ variant_unit.unit_price_measurement.reference_unit }}
                          {%- endif -%}
                        </span>
                       {%- endcapture -%}
                       <div class="price__unit"><span class="unit_price">{{ variant_unit.unit_price | money }}</span><span>/</span>{{- unit_price_base_unit -}}</div>

                    {%- elsif inc_price == '1' -%}
                      {%- if nav_up_size > 0 -%}{{ product.price | money }}{%- if product.compare_at_price != blank -%} – {{ product.compare_at_price | money }}{%- endif -%}
                      {%- else -%}
                        {%- if product.price_varies -%}{{ product.price_min | money }} – {{ product.price_max | money }}
                        {%- elsif product.compare_at_price > product.price -%}<del>{{ product.compare_at_price  | money }}</del> <ins>{{ product.price | money }}</ins>
                        {%- else -%}{{ product.price | money }}
                        {%- endif -%}
                      {%- endif -%}

                    {%- else -%}

                      {%- if nav_up_size > 0 -%}<span class="cb fwn">{{ 'products.product.from' | t }}</span> {{ product.price | money }}
                      {%- else -%}
                        {%- if product.price_varies -%}<span class="cb fwn">{{ 'products.product.from' | t }}</span> {{ product.price_min | money }}
                        {%- elsif product.compare_at_price > product.price -%}<del>{{ product.compare_at_price  | money }}</del> <ins>{{ product.price | money }}</ins>
                        {%- else -%}{{ product.price | money }}
                        {%- endif -%}
                      {%- endif -%}
                    {%- endif -%}
                  </div>
                </div>
              </div>
          </div>
        {%- endfor -%}
        {%- endif -%}
        {%- if ck_noPr -%}
          {%- for i in (1..3) -%}
          <div class="col-6 col-md-6 prs_slide_item">
              <div class="prs_slide_wrap tc">
                <img width="800" height="800" src="data:image/svg+xml,%3Csvg%20viewBox%3D%220%200%20800%20800%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3C%2Fsvg%3E" data-src="{{ 'product-' | append:forloop.index | append:'.jpg' | asset_url }}" class="w__100_ lazyloadt4s lz_op_ef" alt="The4 demo">
                <div class="title-wrap tc">
                  <a class="product-title db" href="/admin/products">{{ 'homepage.onboarding.product_title' | t }} {{forloop.index}}</a>
                  <div class="price">${{forloop.index}}99.00</div>
                </div>
              </div>
          </div>
          {%- endfor -%}
        {%- endif -%}
   </div>
   {{-html_layout[1]-}}
</div>
{%- render 'section_css' -%}
{%- schema -%}
  {
    "name": "Products Slide",
    "class": "nt_section type_prs_slide type_carousel",
    "settings": [
      {
        "type": "header",
        "content": "== Title Settings"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading"
      },
      {
        "type": "header",
        "content": "== Slider Settings"
      },
      /*{
        "type": "checkbox",
        "id": "loop",
        "label": "Use Loop?",
        "info": "At the end of cells, wrap-around to the other end for infinite scrolling.",
        "default": true
      },*/
      {
        "type": "range",
        "id": "au_time",
        "min": 0,
        "max": 30,
        "step": 0.5,
        "label": "Autoplay Speed in second.",
        "info": "Set is '0' to disable autoplay.",
        "unit": "sec",
        "default": 0
      },
      {
        "type": "checkbox",
        "id": "au_hover",
        "label": "Pause Autoplay On Hover?",
        "info": "Auto-playing will pause when the user hovers over the carousel.",
        "default": true
      },
      {
        "type": "header",
        "content": "== Prev Next Button, Page Dot Settings"
      },
      {
        "type": "paragraph",
        "content": "—————————————————"
      },
      {
        "type": "paragraph",
        "content": "Prev Next Button:"
      },
      {
        "type": "checkbox",
        "id": "button",
        "label": "Enable Prev Next Button?",
        "info": "Creates and enables previous & next buttons.",
        "default": false
      },
      {
        "type": "select",
        "id": "btn_vi",
        "label": "Visible:",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "always"
          },
          {
            "value": "2",
            "label": "Only hover"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_owl",
        "label": "Style",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          },
          {
            "value": "3",
            "label": "Style 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "btn_color",
        "label": "Color",
        "default": "0",
        "options": [
          {
            "value": "0",
            "label": "Transparent"
          },
          {
            "value": "1",
            "label": "Gray"
          },
          {
            "value": "2",
            "label": "White"
          },
          {
            "value": "3",
            "label": "Primary"
          }
        ]
      },
      {
        "type": "paragraph",
        "content": "—————————————————"
      },
      {
        "type": "paragraph",
        "content": "Page Dot:"
      },
      {
        "type": "checkbox",
        "id": "dot",
        "label": "Enable Page Dot?",
        "info": "Creates and enables page dots.",
        "default": false
      },
      {
        "type": "select",
        "id": "dot_owl",
        "label": "Style",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Style 1"
          },
          {
            "value": "2",
            "label": "Style 2"
          },
          {
            "value": "3",
            "label": "Style 3"
          }
        ]
      },
      {
        "type": "select",
        "id": "dot_color",
        "label": "Color",
        "default": "1",
        "options": [
          {
            "value": "1",
            "label": "Dark"
          },
          {
            "value": "2",
            "label": "Light"
          },
          {
            "value": "3",
            "label": "Primary"
          }
        ]
      },
      {
        "type": "header",
        "content": "== Design Options"
      },
      {
        "type": "select","id": "layout","default": "nt_full","label": "Layout",
        "options": [
            { "value": "container", "label": "Container"},
            { "value": "wrap", "label": "Wrapped Container"},
            { "value": "nt_full", "label": "Full Width"}
        ]
      },
      {
        "type": "color","id": "cl_bg","label": "Background color"
      },
      {
        "type": "text",
        "id": "mg",
        "label": "Margin",
        "info":"Margin top, margin right, margin bottom, margin left. If you not use to blank",
        "default": "50px,,50px,",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd",
        "label": "Padding",
        "info":"Padding top, padding right, padding bottom, padding left. If you not use to blank",
        "placeholder": "50px,,50px,"
      },
     {
        "type": "header",
        "content": "== Design Mobile Options"
      },
      {
        "type": "text",
        "id": "mg_mb",
        "label": "Margin",
        "placeholder": "50px,,50px,"
      },
      {
        "type": "text",
        "id": "pd_mb",
        "label": "Padding",
        "placeholder": "50px,,50px,"
      }
    ],
    "blocks": [
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "info": "Only show on admin editor, a key word reminiscent of the selected product.",
            "label": "Title (optional)"
          },
          {
            "type": "url",
            "id": "product",
            "info": "Only active when choose link product",
            "label": "Choose Product"
          },
          {
            "type": "image_picker","id": "image","label": "Product Image (option)"
          },
          {
            "type": "paragraph",
            "content": "We use the link instead of the product type because to avoid the limit of 20 products per shopify page"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "6. Products Slide",
        "category": "VIIII. Products",
        "blocks": [
          { "type": "product" },
          { "type": "product" },
          { "type": "product" }
        ]
      }
    ]
  }
{% endschema %}
